@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  flex-direction: column;
}

.main{
  height: 470px;
  width: 320px;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.qr-scanner {
  height: 288px;
  width: 288px;
  border-radius: 10px;
}

.card-heading{
  font-size: 18px;
  padding: 0 1rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: 700;
}

.card-para{
  padding: 0 1rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: #7d889e;
}

.attribution{
 margin-top: 4rem;
}
